.custom-product-card {
    transition: all 0.3s ease;
     cursor: pointer;
}
.custom-product-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);  
}
.custom-product-card:hover .custom-img {
    transform: scale(1.05); 
}
.blu{
    color: #272560;
}
.product-card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
}
.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
.product-card img:hover{
    transform: scale(1.05);
}
.messeng{
    width: 55px; height: 55px; z-index: 1050;
}
.insta {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; 
  cursor: pointer;
}
.insta:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1) !important;
}
.point{
    width: 8px; height: 8px; display: inline-block;
    cursor: pointer;
}
.b-blue{
    background-color: #F5F7FF;
}
.icon{
    width: 50px; height: 50px;
}
.f-f{
    width: 80%;
}
 .custom-input::placeholder{
    color: rgb(136, 136, 136) !important;
 }
.arrow{
    font-size: 10px;
 }
.i-style{ width: 40px; height: 40px;}
  #new-products-carousel .owl-nav {
  font-size: 25px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 45%;
  width: 100%;
}
.prev, 
.next {
  background-color: #bab8b8 ;
  color: white ;
  width: 40px;
  height: 40px;
  border-radius: 50% ;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
  border: none;
  cursor: pointer;
}